In [1]:
# Download the Dataset
from sklearn.datasets import fetch_openml
data = fetch_openml(name ='credit-g', version = 1)
print(data)

# Reading the Dataset
import pandas as pd
df = pd.DataFrame(data.data, columns = data.feature_names)
df['class'] = data.target

#Does the dataset include any missing values? If so, drop them
before_drop = df.shape
print('Shape Before NA Drop: ', before_drop)
df.dropna
after_drop = df.shape
print("Shape After NA Drop: ", after_drop)

{'data':     checking_status  duration                  credit_history  \
0                <0         6  critical/other existing credit
1          0<=X<200        48                   existing paid
2       no checking        12  critical/other existing credit
3                <0        42                   existing paid
4                <0        24              delayed previously
..              ...       ...                             ...
995     no checking        12                   existing paid
996              <0        30                   existing paid
997     no checking        12                   existing paid
998              <0        45                   existing paid
999        0<=X<200        45  critical/other existing credit

                 purpose  credit_amount    savings_status  employment  \
0               radio/tv           1169  no known savings         >=7
1               radio/tv           5951              <100      1<=X<4
2              education           2096              <100      4<=X<7
3    furniture/equipment           7882              <100      4<=X<7
4                new car           4870              <100      1<=X<4
..                   ...            ...               ...         ...
995  furniture/equipment           1736              <100      4<=X<7
996             used car           3857              <100      1<=X<4
997             radio/tv            804              <100         >=7
998             radio/tv           1845              <100      1<=X<4
999             used car           4576        100<=X<500  unemployed

     installment_commitment     personal_status other_parties  \
0                         4         male single          none
1                         2  female div/dep/mar          none
2                         2         male single          none
3                         2         male single     guarantor
4                         3         male single          none
..                      ...                 ...           ...
995                       3  female div/dep/mar          none
996                       4        male div/sep          none
997                       4         male single          none
998                       4         male single          none
999                       3         male single          none

     residence_since property_magnitude  age other_payment_plans   housing  \
0                  4        real estate   67                none       own
1                  2        real estate   22                none       own
2                  3        real estate   49                none       own
3                  4     life insurance   45                none  for free
4                  4  no known property   53                none  for free
..               ...                ...  ...                 ...       ...
995                4        real estate   31                none       own
996                4     life insurance   40                none       own
997                4                car   38                none       own
998                4  no known property   23                none  for free
999                4                car   27                none       own

     existing_credits                        job  num_dependents  \
0                   2                    skilled               1
1                   1                    skilled               1
2                   1         unskilled resident               2
3                   1                    skilled               2
4                   2                    skilled               2
..                ...                        ...             ...
995                 1         unskilled resident               1
996                 1  high qualif/self emp/mgmt               1
997                 1                    skilled               1
998                 1                    skilled               1
999                 1                    skilled               1

    own_telephone foreign_worker
0             yes            yes
1            none            yes
2            none            yes
3            none            yes
4            none            yes
..            ...            ...
995          none            yes
996           yes            yes
997          none            yes
998           yes            yes
999          none            yes

[1000 rows x 20 columns], 'target': 0      good
1       bad
2      good
3      good
4       bad
       ...
995    good
996    good
997    good
998     bad
999    good
Name: class, Length: 1000, dtype: category
Categories (2, object): ['bad', 'good'], 'frame':     checking_status  duration                  credit_history  \
0                <0         6  critical/other existing credit
1          0<=X<200        48                   existing paid
2       no checking        12  critical/other existing credit
3                <0        42                   existing paid
4                <0        24              delayed previously
..              ...       ...                             ...
995     no checking        12                   existing paid
996              <0        30                   existing paid
997     no checking        12                   existing paid
998              <0        45                   existing paid
999        0<=X<200        45  critical/other existing credit

                 purpose  credit_amount    savings_status  employment  \
0               radio/tv           1169  no known savings         >=7
1               radio/tv           5951              <100      1<=X<4
2              education           2096              <100      4<=X<7
3    furniture/equipment           7882              <100      4<=X<7
4                new car           4870              <100      1<=X<4
..                   ...            ...               ...         ...
995  furniture/equipment           1736              <100      4<=X<7
996             used car           3857              <100      1<=X<4
997             radio/tv            804              <100         >=7
998             radio/tv           1845              <100      1<=X<4
999             used car           4576        100<=X<500  unemployed

     installment_commitment     personal_status other_parties  ...  \
0                         4         male single          none  ...
1                         2  female div/dep/mar          none  ...
2                         2         male single          none  ...
3                         2         male single     guarantor  ...
4                         3         male single          none  ...
..                      ...                 ...           ...  ...
995                       3  female div/dep/mar          none  ...
996                       4        male div/sep          none  ...
997                       4         male single          none  ...
998                       4         male single          none  ...
999                       3         male single          none  ...

     property_magnitude age  other_payment_plans   housing existing_credits  \
0           real estate  67                 none       own                2
1           real estate  22                 none       own                1
2           real estate  49                 none       own                1
3        life insurance  45                 none  for free                1
4     no known property  53                 none  for free                2
..                  ...  ..                  ...       ...              ...
995         real estate  31                 none       own                1
996      life insurance  40                 none       own                1
997                 car  38                 none       own                1
998   no known property  23                 none  for free                1
999                 car  27                 none       own                1

                           job num_dependents  own_telephone foreign_worker  \
0                      skilled              1            yes            yes
1                      skilled              1           none            yes
2           unskilled resident              2           none            yes
3                      skilled              2           none            yes
4                      skilled              2           none            yes
..                         ...            ...            ...            ...
995         unskilled resident              1           none            yes
996  high qualif/self emp/mgmt              1            yes            yes
997                    skilled              1           none            yes
998                    skilled              1            yes            yes
999                    skilled              1           none            yes

    class
0    good
1     bad
2    good
3    good
4     bad
..    ...
995  good
996  good
997  good
998   bad
999  good

[1000 rows x 21 columns], 'categories': None, 'feature_names': ['checking_status', 'duration', 'credit_history', 'purpose', 'credit_amount', 'savings_status', 'employment', 'installment_commitment', 'personal_status', 'other_parties', 'residence_since', 'property_magnitude', 'age', 'other_payment_plans', 'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone', 'foreign_worker'], 'target_names': ['class'], 'DESCR': '**Author**: Dr. Hans Hofmann  \n**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)) - 1994    \n**Please cite**: [UCI](https://archive.ics.uci.edu/ml/citation_policy.html)\n\n**German Credit dataset**  \nThis dataset classifies people described by a set of attributes as good or bad credit risks.\n\nThis dataset comes with a cost matrix: \n``` \nGood  Bad (predicted)  \nGood   0    1   (actual)  \nBad    5    0  \n```\n\nIt is worse to class a customer as good when they are bad (5), than it is to class a customer as bad when they are good (1).  \n\n### Attribute description  \n\n1. Status of existing checking account, in Deutsche Mark.  \n2. Duration in months  \n3. Credit history (credits taken, paid back duly, delays, critical accounts)  \n4. Purpose of the credit (car, television,...)  \n5. Credit amount  \n6. Status of savings account/bonds, in Deutsche Mark.  \n7. Present employment, in number of years.  \n8. Installment rate in percentage of disposable income  \n9. Personal status (married, single,...) and sex  \n10. Other debtors / guarantors  \n11. Present residence since X years  \n12. Property (e.g. real estate)  \n13. Age in years  \n14. Other installment plans (banks, stores)  \n15. Housing (rent, own,...)  \n16. Number of existing credits at this bank  \n17. Job  \n18. Number of people being liable to provide maintenance for  \n19. Telephone (yes,no)  \n20. Foreign worker (yes,no)\n\nDownloaded from openml.org.', 'details': {'id': '31', 'name': 'credit-g', 'version': '1', 'description_version': '30', 'format': 'ARFF', 'creator': 'Dr. Hans Hofmann', 'collection_date': '1994-11-17', 'upload_date': '2014-04-06T23:21:47', 'language': 'English', 'licence': 'Public', 'url': 'https://api.openml.org/data/v1/download/31/credit-g.arff', 'parquet_url': 'https://data.openml.org/datasets/0000/0031/dataset_31.pq', 'file_id': '31', 'default_target_attribute': 'class', 'version_label': '1', 'citation': 'https://archive.ics.uci.edu/ml/citation_policy.html', 'tag': ['credit_scoring', 'Data Science', 'Economics', 'finance_problem', 'mythbusting_1', 'OpenML-CC18', 'OpenML100', 'Statistics', 'study_1', 'study_123', 'study_14', 'study_144', 'study_15', 'study_20', 'study_218', 'study_241', 'study_34', 'study_37', 'study_41', 'study_50', 'study_52', 'study_7', 'study_70', 'study_98', 'study_99', 'uci'], 'visibility': 'public', 'original_data_url': 'https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)', 'paper_url': 'https://dl.acm.org/doi/abs/10.1145/967900.968104', 'minio_url': 'https://data.openml.org/datasets/0000/0031/dataset_31.pq', 'status': 'active', 'processing_date': '2020-11-20 19:44:53', 'md5_checksum': '9a475053fed0c26ee95cd4525e50074c'}, 'url': 'https://www.openml.org/d/31'}
Shape Before NA Drop:  (1000, 21)
Shape After NA Drop:  (1000, 21)

In [2]:
# Feature Selection
# Choose the features you think are relevant to our analysis! There are A LOT of features in this dataset, but we have to make our models training time reasonable for you.
# You MUST include at least four numeric features and at least three nominal features. You can choose more if you prefer.
print(df.dtypes)
numerical = df[['duration','credit_amount', 'installment_commitment','existing_credits']]
categorical = df[['checking_status', 'credit_history', 'savings_status', 'employment', 'other_parties']]

checking_status           category
duration                     int64
credit_history            category
purpose                   category
credit_amount                int64
savings_status            category
employment                category
installment_commitment       int64
personal_status           category
other_parties             category
residence_since              int64
property_magnitude        category
age                          int64
other_payment_plans       category
housing                   category
existing_credits             int64
job                       category
num_dependents               int64
own_telephone             category
foreign_worker            category
class                     category
dtype: object

In [3]:
# Preprocessing: Perform any needed preprocessing on the chosen features, including:
# Scaling, Encoding, Dealing with NaN values
# Note: Use only the preprocessing steps you think are useful.
categorical = pd.get_dummies(categorical, dtype=int)
credit_df = pd.concat([numerical, categorical], axis = 1)
credit_df

,duration,credit_amount,installment_commitment,existing_credits,checking_status_0<=X<200,checking_status_<0,checking_status_>=200,checking_status_no checking,credit_history_all paid,credit_history_critical/other existing credit,...,savings_status_>=1000,savings_status_no known savings,employment_1<=X<4,employment_4<=X<7,employment_<1,employment_>=7,employment_unemployed,other_parties_co applicant,other_parties_guarantor,other_parties_none
0,6,1169,4,2,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
1,48,5951,2,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,12,2096,2,1,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,42,7882,2,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,24,4870,3,2,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
996,30,3857,4,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
997,12,804,4,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
998,45,1845,4,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
999,45,4576,3,1,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1

In [4]:
#scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
credit_df[['duration', 'credit_amount']] = scaler.fit_transform(credit_df[['duration', 'credit_amount']])
print(credit_df[['duration', 'credit_amount']])

#encoder
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
credit_df.iloc[:, 4:] = encoder.fit_transform(credit_df.iloc[:, 4:])
print(credit_df.iloc[:, 4:])

# nan values
print("Are the any NAN Values?:",df.isnull().values.any())

     duration  credit_amount
0   -1.236478      -0.745131
1    2.248194       0.949817
2   -0.738668      -0.416562
3    1.750384       1.634247
4    0.256953       0.566664
..        ...            ...
995 -0.738668      -0.544162
996  0.754763       0.207612
997 -0.738668      -0.874503
998  1.999289      -0.505528
999  1.999289       0.462457

[1000 rows x 2 columns]
     checking_status_0<=X<200  checking_status_<0  checking_status_>=200  \
0                           0                   1                      0
1                           1                   0                      0
2                           0                   0                      0
3                           0                   1                      0
4                           0                   1                      0
..                        ...                 ...                    ...
995                         0                   0                      0
996                         0                   1                      0
997                         0                   0                      0
998                         0                   1                      0
999                         1                   0                      0

     checking_status_no checking  credit_history_all paid  \
0                              0                        0
1                              0                        0
2                              1                        0
3                              0                        0
4                              0                        0
..                           ...                      ...
995                            1                        0
996                            0                        0
997                            1                        0
998                            0                        0
999                            0                        0

     credit_history_critical/other existing credit  \
0                                                1
1                                                0
2                                                1
3                                                0
4                                                0
..                                             ...
995                                              0
996                                              0
997                                              0
998                                              0
999                                              1

     credit_history_delayed previously  credit_history_existing paid  \
0                                    0                             0
1                                    0                             1
2                                    0                             0
3                                    0                             1
4                                    1                             0
..                                 ...                           ...
995                                  0                             1
996                                  0                             1
997                                  0                             1
998                                  0                             1
999                                  0                             0

     credit_history_no credits/all paid  savings_status_100<=X<500  ...  \
0                                     0                          0  ...
1                                     0                          0  ...
2                                     0                          0  ...
3                                     0                          0  ...
4                                     0                          0  ...
..                                  ...                        ...  ...
995                                   0                          0  ...
996                                   0                          0  ...
997                                   0                          0  ...
998                                   0                          0  ...
999                                   0                          1  ...

     savings_status_>=1000  savings_status_no known savings  \
0                        0                                1
1                        0                                0
2                        0                                0
3                        0                                0
4                        0                                0
..                     ...                              ...
995                      0                                0
996                      0                                0
997                      0                                0
998                      0                                0
999                      0                                0

     employment_1<=X<4  employment_4<=X<7  employment_<1  employment_>=7  \
0                    0                  0              0               1
1                    1                  0              0               0
2                    0                  1              0               0
3                    0                  1              0               0
4                    1                  0              0               0
..                 ...                ...            ...             ...
995                  0                  1              0               0
996                  1                  0              0               0
997                  0                  0              0               1
998                  1                  0              0               0
999                  0                  0              0               0

     employment_unemployed  other_parties_co applicant  \
0                        0                           0
1                        0                           0
2                        0                           0
3                        0                           0
4                        0                           0
..                     ...                         ...
995                      0                           0
996                      0                           0
997                      0                           0
998                      0                           0
999                      1                           0

     other_parties_guarantor  other_parties_none
0                          0                   1
1                          0                   1
2                          0                   1
3                          1                   0
4                          0                   1
..                       ...                 ...
995                        0                   1
996                        0                   1
997                        0                   1
998                        0                   1
999                        0                   1

[1000 rows x 22 columns]
Are the any NAN Values?: False

In [5]:
# Splitting the Data: Split your data as follows:
# 80% training set
# 10% validation set
# 10% test set

from sklearn.model_selection import train_test_split
encoded_y = df['class'].values
encoded_X = credit_df.iloc[:, 0:]
X_train, X_test, y_train, y_test = train_test_split(encoded_X, encoded_y, test_size=0.1, train_size=0.8, random_state=0)
X_train, X_validate, y_train, y_validate = train_test_split(encoded_X, encoded_y, test_size=0.1,train_size=0.8, random_state=0)

Training Classifiers

In [6]:
# Use the KNN-classifier model to train your data.
# Choose the best k for the k-nearest neighbor (KNN) algorithm by trying different values and validating performance on the validation set.
# Note: choosing the best k is an example of hyper-parameter tuning.
from sklearn.neighbors import KNeighborsClassifier
k = 9
model = KNeighborsClassifier(n_neighbors=k)
model.fit(X_train, y_train)

# Classification Metrics
# Print the accuracy score of your final classifier.
y_pred = model.predict(X_test)
print(y_pred)
score = model.score(X_test,y_test)
print(score)

['bad' 'good' 'good' 'good' 'good' 'good' 'good' 'good' 'good' 'good'
 'bad' 'bad' 'good' 'good' 'bad' 'good' 'good' 'good' 'bad' 'good' 'bad'
 'bad' 'good' 'good' 'good' 'bad' 'good' 'bad' 'good' 'good' 'good' 'good'
 'good' 'good' 'good' 'bad' 'good' 'good' 'good' 'good' 'bad' 'bad' 'good'
 'good' 'good' 'good' 'good' 'bad' 'good' 'good' 'good' 'good' 'good'
 'good' 'bad' 'good' 'good' 'good' 'good' 'good' 'bad' 'good' 'bad' 'good'
 'good' 'good' 'good' 'good' 'good' 'good' 'good' 'good' 'good' 'good'
 'bad' 'good' 'good' 'good' 'good' 'good' 'good' 'good' 'good' 'good'
 'good' 'good' 'bad' 'good' 'good' 'good' 'good' 'good' 'good' 'good'
 'good' 'good' 'good' 'good' 'good' 'good']
0.75

In [7]:
# Print the confusion matrix.
from sklearn.metrics import confusion_matrix
conf = confusion_matrix(y_test, y_pred)
print(conf)

[[ 9 16]
 [ 9 66]]

Challenge Yourself (Optional)

In [10]:
#Choose another model (other than k-nearest neighbor (KNN)) and repeat step 6.
from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(n_estimators=5, criterion='gini')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
score = model.score(X_test,y_test)
print(score)

0.75